body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
	margin: 0;
	font-family: Arial, sans-serif;
}

.card-container {
	position: relative;
	width: 400px;
	padding: 20px;
	background: linear-gradient(135deg, #1e5799 0%, #7db9e8 100%);
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	color: #fff;
}

form {
	display: flex;
	flex-direction: column;
}

form input, form select {
	background: rgba(255, 255, 255, 0.1);
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
}

form input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

form button {
	padding: 10px 20px;
	background-color: #1e5799;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	align-self: flex-start;
}

form button:hover {
	background-color: #7db9e8;
}

form select option {
	color: grey;
}

form button {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	margin: 10px auto;
}

.title {
	text-align: end;
}
.date {
	display: flex;
	gap: 10px;
}
.form-control {
	background: linear-gradient(135deg, #1e5799 0%, #7db9e8 100%);
	border: unset;
}
form input {
	color: white;
}
form .cvv {
	width: 16%;
}